@import url('../components/common-container.css');
@import url('../components/btn-primary.css');
@import url('../components/btn-secondary.css');
@import url('../components/link.css');

.buttons {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}